# Copyright 2026 Owear Contributors
# SPDX-License-Identifier: Apache-2.0
# La webapp de draw.io (157 MB) NO se commitea: la trae `node setup.mjs`.
webapp/
.owear/
dist/
release/
**/ui-dist/
node_modules/
*.log
